.App {
  
  width: 100%;
  margin: 0 auto;

  
}
.App {
  width: 100%;
}
.headerimg {
  width: 100%;
  height: 100%;
  
} 

/* nav bar start */ 
.menu {
  top: 0 !important;
  position: fixed !important;
  z-index: 99 !important;
  left: 100px !important;
  
}
@media only screen and (max-width: 600px) {
  .menu {
    left: -80px !important;
    top: -20px !important;
    font-size: 16px !important;


  }
}

//vars
$fg:rgb(97, 177, 209);
$bg:#673ab7;
$pi:3.14;

//config
$menu-items:5;
$open-distance:10%;
$opening-angle:$pi*0.5;



%goo{
  filter:url('#shadowed-goo');
  // debug 
  //background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border-radius:100%;
  width:80px;
  height:80px;
  margin-left: 0px;
  position:absolute;
  
  color:white !important;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 700ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
  
}

.menu{
  @extend %goo;
  $width:10%;
  $height:10%;
  position:absolute;
  
  
  padding-top:20px;
  padding-left:80px;
  width:$width;
  height:$height;
  box-sizing:border-box;
  font-size:18px;
  
}


.menu-item{
  &:hover{
    background:darkslateblue;
    color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:180ms;
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(100ms*$i);
      transform:translate3d(15vw*$i,0,0);
    }
  }
}




/* nav bar end */ 
/* Home page styling */ 

.hometitle {
  color: skyblue;
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
}
.hometext {
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
.homebio {
  text-align: center;
  margin-top: 5px;
}
.skyphoto {
  height: 50%;

  text-align: right;
}
.homesubtitle {
  margin: 10px;
  text-align: left;
  color: skyblue;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
}
.homeinfo {
  font-size: 24px;
  float: center;
  
}
.home3 {
  margin-top: 150px;
  float: center;
  font-size: 16px;
}
.coachskywill {
  color: skyblue; 
  font-weight: bolder;
  margin: 15px;
  text-align: center;
  font-size: 50px;
}
.homelist {
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hometagline {
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  color: skyblue;
  margin-top: -5%;
  text-align: center;
}
.homeslider {
  text-align: center;
}
.linktoservices {
  color: black;
  font-weight: bolder; 
  font-size: 36px;
  margin: 5%;
  text-align: center;
  
}
.fitnessguy {
  width: 125px;
  height: 85px;
  float: center;
}
/* testmonials */
.testimonialtitle {
  font-size: 48px;
  text-align: center;
  font-weight: bolder;
  margin-top: 100px;
  color: skyblue;
}

.testimonial-image {
max-width: 100%;
}



.meettitle {
  color: skyblue;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.skybiophoto {
  float: left;
}
.skybio {
  font-size: 20px;
 margin: 5%;
 margin-left: 5%;
 
 
}
.meet {
  margin: 50px;
}
/* Services page */ 
.container {
  background-image: url(./components/images/runner.jpeg);
  background-size: 130%;
  background-repeat: none;
color: white;
  display: flex;
  flex-wrap: wrap;
  
}
.serviceitem {
  max-width: 350px !important;
  max-height: 40% !important;
  
 position: relative;
}
.serviceitemimg {
  max-width: 300px !important;
 max-height: 250px !important;
}
.servicetext {
  text-align: center;
}
.servicestitle {
text-align: center;
}


.readmore {
  cursor: pointer;
  background-color: skyblue;
  
}
.readmore:hover {
color: white;
background-color: blue;
}


/* blog page */ 
.sidebar {
  
  float: right;
 
  margin: 5%;
  border-style: solid;
  width: 15%;
  height: 20%;
  
}

/* Create two unequal columns that floats next to each other */
/* Left column */

.leftcolumn {
  float: left;
  width: 80%;
  margin-left: 5%;
}

.blogtitle {
  font-size: 48px;
  color: skyblue;
text-align: center;
float: center;
margin: 5%;
margin-top: -8%;
}


/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




/* cart items */ 
.cartfooter {
  position: fixed;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
 
}
.nocart {
  margin-top: -10%;
}
.cart-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8%;
}
.yourtotal {

  left: 50%;
  position: absolute;
}
.checkoutbutton {
  
  position: relative;
  text-align: right;
  z-index: 99;
}
.addbutton {
  margin: 10px;
}
.cartitem {
  max-width: 350px !important;
  max-height: 40% !important;
  
 position: relative;
}
.cart-image {
  width: 250px !important;
  max-height: 25% !important;
}
.xbutton {
  
}